* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  transition: ease-in-out;
  transition-duration: 1s;
  scroll-behavior: smooth;

}

.initiatives-container::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.initiatives-container::-webkit-scrollbar-thumb {
  background-color: rgb(146, 141, 141);
  border-radius: 20px;
  height: 0px;

}
 .initiatives-container::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 45vw;
  margin-left:  45vw;
  border-radius: 20px;
}

div.head {
  background-image: url('images/slide_4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 850px;
}

nav {
  position: sticky;
  top: 0px;
  transition-duration: 0.2s;
}

.nav-normal {
  flex: auto;
  height: 5rem;
  color: white;
  margin-top: -5rem;
  background-color: transparent;
  color: white;
  padding: 20px;
}

.nav-scrolled {
  flex: auto;
  color: white;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 5px;
  height: auto;
}



.section-after-head {
  margin-top: 90vh;
}

.text-white {
  color: white;
}

.transition-0 {
  transition-duration: 0s;
}

/* .text-center {
  text-align: center;
}

.text-left {
  text-align: left;
} */

.section-gap {
  height: 100px;
}



.section {
  height: 95vh; 
}

.snap-y {
  scroll-snap-type: y proximity;
}
.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-scrolled .container .div_iefdhiu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20vw;
}

.hover\:scale-75:hover {
  transform: scale(1.02);
}

.text-center {
  text-align: center;
}

.min-h-full {
  min-height: 100vh;
}



.shadow-yellow-200:hover {
  box-shadow:inset 0px 0px 4px 1px rgb(255, 240, 179);
}



@media (min-width: 768px) {
  .nav-scrolled .container .div_iefdhiu  {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;

  }

  /* medium devices */
  .md\:text-left {
    text-align: left;
  }
  .md\:min-h-full {
    min-height: 100vh;
  }
  .div-show-arrow-right {
    cursor: url('images/arrow-icon.png'), auto ;
  }
  .div-show-arrow-left {
    cursor:  url('images/arrow-icon-left.png'), auto ;
  }

}

/* small devices */
@media (max-width: 768px) {



}