* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  transition: ease-in-out;
  /* transition-duration: 1s; */
  scroll-behavior: smooth;

}

*::-webkit-scrollbar {
  display: block;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 86, 5);
  border-radius: 100px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
}

.icons a:hover {
  color: white;
}

.initiative-item-1 {
  background: url('images/Islamic-coins-bg.jpg'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.initiative-item-1-img {
  background: url('images/Islamic-coins.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}  

.initiative-item-bg {
  background-image: url('images/islamic_pattern.png');
}

div.head {
  background-image: url('images/slide_4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
background-color: black;
}

nav {
  position: sticky;
  top: 0px;
  transition-duration: 0.2s;
}

.nav-normal {
  flex: auto;
  margin-top: -5rem;
  background-color: transparent;
  color: white;
  padding: 0.3rem;
  height: 0;
}

.nav-scrolled {
  flex: auto;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 0.3rem;
  height: auto;
}

.text-white {
  color: white;
}

.display-none {
  display: none;
}

.transition-0 {
  transition-duration: 0s;
}

.section-gap {
  height: 4rem;
}

.min-h-700px {
  min-height: 700px;
}

.h-600px {
  height: 600px;
}



.snap-y {
  scroll-snap-type: y proximity;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-scrolled .container .flex-grow {
  display: none;
}

.nav-scrolled .container .div_iefdhiu .darul {
  display: none;
}

.nav-scrolled .container #menu {
  margin-top: -10px;
}

.nav-scrolled {
  height: 2rem;
}

.nav-scrolled .container .div_iefdhiu {
  margin-right: auto;
  margin-top: -9px;
  transition-duration: .5s;

}

.hover\:scale-75:hover {
  transform: scale(1.02);
}

.text-center {
  text-align: center;
}

.max-h-800px {
  max-height: 50rem;
}

.max-h-auto {
  max-height: unset;
}

.r-2 {
  right: 2rem;
}

.hidden {
  visibility: hidden;
  display: none;

}

.info-hidden {
  width: 100vw;
  height: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: transparent;
  color: transparent;
  transition-duration: .5s;

}



.info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  /* z-index: 5; */
  background-color: black;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  transition-duration: .5s;
}

.info .btn {
  border-radius: 100%;
  margin: 3rem 0 0 auto;
  cursor: pointer;
}


#btn-toggle.info-off {
  background-color: unset;
}

#btn-toggle.info-on {
  background-color: rgba(255, 0, 0, 0.37);
  border-radius: 100%;
}

#btn-toggle.info-on>*.bar {
  margin-top: -5rem;
  margin-right: 2rem;
  transition-duration: 1.5s;
}

#btn-toggle.info-on>*.close {
  visibility: visible;
  display: block;
  margin-left: 0;
  transition-duration: 1.5s;

}

.shadow-yellow-200:hover {
  box-shadow: inset 0px 0px 4px 1px rgb(255, 240, 179);
}
/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */


/* md */
@media (min-width: 768px) {
  .nav-scrolled .container .div_iefdhiu {
    font-size: 1.5rem;
  }
  .md\:h-600px {
    height: 600px;
  }

  .info-container {
    padding: 0 0 0 0;
    margin: auto;
  }



  .info-grid {
    grid-template-columns: auto 13rem
  }

  .nav-scrolled .container .div_iefdhiu {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;
  }

  .h-screen-scalable {
    height: 100vh;
    max-height: 55rem;
  }

  /* medium devices */
  .md\:display-none {
    display: none;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:min-h-full {
    min-height: 100vh;
  }

  .md\:max-h-800px {
    max-height: 55rem;
  }

  .div-show-arrow-right {
    cursor: url('images/arrow-icon.png'), auto;
  }

  .div-show-arrow-left {
    cursor: url('images/arrow-icon-left.png'), auto;
  }

}

/* small devices */
@media (max-width: 768px) {
  .info-grid {
    grid-template-rows: auto auto
  }
}