* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  transition: ease-in-out;
  /* transition-duration: 1s; */
  scroll-behavior: smooth;

}

.initiatives-container::-webkit-scrollbar,
.Dept_committee_container::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.initiatives-container::-webkit-scrollbar-thumb,
.Dept_committee_container::-webkit-scrollbar-thumb {
  background-color: rgba(146, 141, 141, 0.281);
  border-radius: 20px;
  height: 0px;
}

.initiatives-container::-webkit-scrollbar-track,
.Dept_committee_container::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 20px;
}

.initiative-item-1 {
  background: url('images/Islamic-coins-bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.initiative-item-1-img {
  background: url('images/Islamic-coins.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div.head {
  background-image: url('images/slide_4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 53rem;
}

nav {
  position: sticky;
  top: 0px;
  transition-duration: 0.2s;
}

.nav-normal {
  flex: auto;
  color: white;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 0.3rem;
  height: auto;
}

.nav-scrolled {
  flex: auto;
  color: white;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 0.3rem;
  height: auto;
}

.text-white {
  color: white;
}

.transition-0 {
  transition-duration: 0s;
}

.section-gap {
  height: 4rem;
}

.section-after-head {
  margin-top: 40rem;

}



.snap-y {
  scroll-snap-type: y proximity;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-scrolled .container .flex-grow {
  display: none;
}
.nav-scrolled .container .div_iefdhiu .darul {
  display: none;
}
.nav-scrolled {
  height: 2rem;
}


.nav-scrolled .container .div_iefdhiu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20vw;
  transition-duration: .5s;
  font-size: 1.5rem;

}

.hover\:scale-75:hover {
  transform: scale(1.02);
}

.text-center {
  text-align: center;
}

.max-h-800px {
  max-height: 50rem;
}

.max-h-auto {
  max-height: unset;
}

.r-2 {
  right: 2rem;
}

.hidden {
  visibility: hidden;
  display: none;

}

.info-hidden {
  width: 100vw;
  height: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: transparent;
  color: transparent;
  transition-duration: .5s;

}



.info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  /* z-index: 5; */
  background-color: black;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  transition-duration: .5s;
}

.info .btn {
  border-radius: 100%;
  margin: 3rem 0 0 auto;
  cursor: pointer;
}

/* .info .btn>*:not(.bar) {
  visibility: visible;
  display: block;
}

.btn-info .btn>*:not(.bar) {
  visibility: hidden;
  width: 0;
  height: 0;
} */

#btn-toggle.info-off {
  background-color: unset;
}

#btn-toggle.info-on {
  background-color: rgba(255, 0, 0, 0.37);
  border-radius: 100%;
}

#btn-toggle.info-on>*.bar {
  margin-top: -5rem;
  margin-right: 2rem;
  transition-duration: 1.5s;
  /* visibility: hidden;
  width: 0;
  height: 0; */
}

#btn-toggle.info-on>*.close {
  visibility: visible;
  display: block;
  margin-left: 0;
  transition-duration: 1.5s;

}





.shadow-yellow-200:hover {
  box-shadow: inset 0px 0px 4px 1px rgb(255, 240, 179);
}


/* md */
@media (min-width: 768px) {
  .info-container {
    padding: 0 0 0 0;
    margin: auto;
  }
  .section-after-head {
    margin-top: 47rem;
  
  }

  .info-grid {
    grid-template-columns:  auto 13rem
  }

  .nav-scrolled .container .div_iefdhiu {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;
  }

  .h-screen-scalable {
    height: 100vh;
    max-height: 55rem;
  }

  /* medium devices */
  .md\:text-left {
    text-align: left;
  }

  .md\:min-h-full {
    min-height: 100vh;
  }

  .md\:max-h-800px {
    max-height: 55rem;
  }

  .div-show-arrow-right {
    cursor: url('images/arrow-icon.png'), auto;
  }

  .div-show-arrow-left {
    cursor: url('images/arrow-icon-left.png'), auto;
  }

}

/* small devices */
@media (max-width: 768px) {
  .info-grid {
    grid-template-rows: auto auto
  }
}