* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  transition: ease-in-out;
  transition-duration: 1s;
  scroll-behavior: smooth;

}

.initiatives-container::-webkit-scrollbar, .Dept_committee_container::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.initiatives-container::-webkit-scrollbar-thumb, .Dept_committee_container::-webkit-scrollbar-thumb {
  background-color: rgba(146, 141, 141, 0.281);
  border-radius: 20px;
  height: 0px;
}

.initiatives-container::-webkit-scrollbar-track, .Dept_committee_container::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 20vw;
  margin-left: 20vw;
  border-radius: 20px;
}

.initiative-item-1 {
  background: url('images/Islamic-coins-bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.initiative-item-1-img {
  background: url('images/Islamic-coins.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div.head {
  background-image: url('images/slide_4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 850px;
}

nav {
  position: sticky;
  top: 0px;
  transition-duration: 0.2s;
}

.nav-normal {
  flex: auto;
  height: 5rem;
  color: white;
  margin-top: -5rem;
  background-color: transparent;
  color: white;
  padding: 20px;
}

.nav-scrolled {
  flex: auto;
  color: white;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 5px;
  height: auto;
}

.text-white {
  color: white;
}

.transition-0 {
  transition-duration: 0s;
}

.section-gap {
  height: 100px;
}

.section-after-head {
  margin-top: 710px;
  
}

.section.head {
  height: 95vh;

}

.snap-y {
  scroll-snap-type: y proximity;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-scrolled .container .div_iefdhiu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20vw;
}

.hover\:scale-75:hover {
  transform: scale(1.02);
}

.text-center {
  text-align: center;
}

.max-h-800px {
    max-height: 800px;
}
.max-h-auto {
    max-height: unset;
}
.r-2 {
  right: 2rem;
}
.hidden {
  visibility: hidden;
  display: none;

}
/* absolute flex flex-col h-6 w-10 right-2 -top-10 flex overflow-hidden hover:bg-gray-900 bg-black rounded-sm cursor-pointer */
.Btn-Show-More-Info {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 2rem;
  width: 3rem;
  right: 2rem;
  top: -5rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.979);  
  border-radius: 10px;
  cursor: pointer;
}
.Btn-Show-More-Info:hover {
  background-color: rgb(0, 0, 0);
}

.Showing-More-Info {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  z-index: 20;
  right: 0px;
  top: 0px;
  cursor: auto;
  background-color: black;
}

.Showing-More-Info .bar {
  display: none;
}

.Showing-More-Info > *:not(.bar) {
  visibility: visible;
  display: block;
  
}




.shadow-yellow-200:hover {
  box-shadow: inset 0px 0px 4px 1px rgb(255, 240, 179);
}



@media (min-width: 768px) {
  .nav-scrolled .container .div_iefdhiu {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;

  }

  .h-screen-scalable {
    height: 100vh;
    max-height: 800px;
  }

  /* medium devices */
  .md\:text-left {
    text-align: left;
  }

  .md\:min-h-full {
    min-height: 100vh;
  }
  .md\:max-h-800px {
    max-height: 800px;
  }

  .div-show-arrow-right {
    cursor: url('images/arrow-icon.png'), auto;
  }

  .div-show-arrow-left {
    cursor: url('images/arrow-icon-left.png'), auto;
  }

}

/* small devices */
@media (max-width: 768px) {}